// ~ fonts
fontSans      = -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans
fontMonospace = Consolas, "Liberation Mono", Menlo, Courier, monospace

// ~ colors
alpha   = rgba(0,0,0,.84)
beta    = #333
gama    = #aaa
delta   = #4b0082
epsilon = #ededed
