// ~ fonts
fontSans      = "Helvetica Neue", Helvetica, Arial, sans-serif
fontMonospace = Consolas, "Liberation Mono", Menlo, Courier, monospace

// ~ colors
alpha   = rgba(0,0,0,.84)
beta    = #333
gama    = #aaa
delta   = #4b0082
epsilon = #ededed
